 .header-color>a:not(:hover) {
     color: #002E5E;
 }

 @media (min-width: 1024px) {
     #topbar .text-slide {
         width: auto;
         max-width: 100%;
         text-align: center;
         margin: auto;
     }
 }