 @font-face {
     font-family: 'Oswald-Medium';
     src: url('./Oswald-Medium.eot');
     src: url('./Oswald-Medium.eot?#iefix') format('embedded-opentype'),
         url('./Oswald-Medium.woff2') format('woff2'),
         url('./Oswald-Medium.woff') format('woff'),
         url('./Oswald-Medium.ttf') format('truetype'),
         url('./Oswald-Medium.svg#Oswald-Medium') format('svg');
     font-weight: 500;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'Oswald-Light';
     src: url('./Oswald-Light.eot');
     src: url('./Oswald-Light.eot?#iefix') format('embedded-opentype'),
         url('./Oswald-Light.woff2') format('woff2'),
         url('./Oswald-Light.woff') format('woff'),
         url('./Oswald-Light.ttf') format('truetype'),
         url('./Oswald-Light.svg#Oswald-Light') format('svg');
     font-weight: 300;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'Oswald-Bold';
     src: url('./Oswald-Bold.eot');
     src: url('./Oswald-Bold.eot?#iefix') format('embedded-opentype'),
         url('./Oswald-Bold.woff2') format('woff2'),
         url('./Oswald-Bold.woff') format('woff'),
         url('./Oswald-Bold.ttf') format('truetype'),
         url('./Oswald-Bold.svg#Oswald-Bold') format('svg');
     font-weight: bold;
     font-style: normal;
     font-display: swap;
 }

 .header-color>a:not(:hover),
 :where(input, textarea)::placeholder,
 .search__button {
     color: #002E5E !important;
 }

 .header_search-mega {
     .search__input {
         background-color: #f3f3f3 !important;
     }
 }

 .slideshow {
     .sec__content-subheading {
         font-family: 'Oswald-Medium' !important;
         letter-spacing: 0.305px;
     }

     .sec__content-heading {
         font-family: 'Oswald-Light' !important;
         letter-spacing: 0.305px;
     }

     .sec__content-btn {
         a {
             font-family: 'Oswald-Bold' !important;
             letter-spacing: 0.21px;
             padding: 9px 20px !important;
         }
     }
 }

 .swiper-pagination-bullet-active::after {
     width: 24px !important;
     border-radius: 5px !important;
 }
#shopify-section-main-password-footer {
  display: none !important;
}
 @media (min-width: 1024px) {
     #topbar {
         .text-slide {
             width: auto !important;
             max-width: 100% !important;
             text-align: center;
             margin: auto !important;
         }
     }
 }