 /*fonts*/

 @font-face {
     font-family: 'Oswald-Medium';
     src: url('./Oswald-Medium.eot');
     src: url('./Oswald-Medium.eot?#iefix') format('embedded-opentype'),
         url('./Oswald-Medium.woff2') format('woff2'),
         url('./Oswald-Medium.woff') format('woff'),
         url('./Oswald-Medium.ttf') format('truetype'),
         url('./Oswald-Medium.svg#Oswald-Medium') format('svg');
     font-weight: 500;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'Oswald-SemiBold';
     src: url('./Oswald-SemiBold.eot');
     src: url('./Oswald-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('./Oswald-SemiBold.woff2') format('woff2'),
         url('./Oswald-SemiBold.woff') format('woff'),
         url('./Oswald-SemiBold.ttf') format('truetype'),
         url('./Oswald-SemiBold.svg#Oswald-SemiBold') format('svg');
     font-weight: 600;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'Oswald-Light';
     src: url('./Oswald-Light.eot');
     src: url('./Oswald-Light.eot?#iefix') format('embedded-opentype'),
         url('./Oswald-Light.woff2') format('woff2'),
         url('./Oswald-Light.woff') format('woff'),
         url('./Oswald-Light.ttf') format('truetype'),
         url('./Oswald-Light.svg#Oswald-Light') format('svg');
     font-weight: 300;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'Oswald-Bold';
     src: url('./Oswald-Bold.eot');
     src: url('./Oswald-Bold.eot?#iefix') format('embedded-opentype'),
         url('./Oswald-Bold.woff2') format('woff2'),
         url('./Oswald-Bold.woff') format('woff'),
         url('./Oswald-Bold.ttf') format('truetype'),
         url('./Oswald-Bold.svg#Oswald-Bold') format('svg');
     font-weight: bold;
     font-style: normal;
     font-display: swap;
 }

 .header-color>a:not(:hover),
 .search__input::placeholder,
 .search__button {
     color: #002E5E !important;
 }

 .header_search-mega {
     .search__input {
         background-color: #f3f3f3 !important;
         border-radius: 3rem !important;
     }
 }

 .slideshow {
     .sec__content-inner {
         padding-top: 0 !important;

         @media (max-width: 767px) {
             padding-top: 50px !important;
             padding-bottom: 30px !important;
         }
     }

     .sec__content-subheading {
         font-family: 'Oswald-Medium' !important;
         letter-spacing: 0.305px;
     }

     .sec__content-heading {
         font-family: 'Oswald-Light' !important;
         letter-spacing: 0.305px;
     }

     .sec__content-btn {
         a {
             font-family: 'Oswald-Bold' !important;
             letter-spacing: 0.21px;
             padding: 9px 20px !important;
         }
     }


 }

 .swiper-pagination-bullet {
     &:after {
         background-color: #fff !important;
         opacity: 1 !important;

         @media (max-width: 767px) {
             margin-top: 30px !important;
         }
     }
 }

 .swiper-pagination-bullet-active {
     width: 20px !important;

     &:after {
         width: 100% !important;
         border-radius: 5px !important;
         background-color: #002E5E !important;

         @media (max-width: 767px) {
             width: 35% !important;
         }
     }
 }


 /* Global Buttons Fixed Positioning */
 .slideshow-global-buttons-fixed {
     position: absolute !important;
     z-index: 10;
     pointer-events: auto;
     transform: translate(-50%, 0) !important;

     .btn-primary {
         padding: 9px 20px !important;
         border-radius: 4px !important;
         border: 1px solid #002E5E;
         background: #fff !important;
         color: #002E5E !important;
         transition: background-color 0.3s ease-in-out;
         font-family: Oswald-Bold !important;
         letter-spacing: .21px;

         &:hover {
             background: #002E5E !important;
             color: #fff !important;
         }
     }

     @media (max-width: 767px) {
         bottom: calc(clamp(1.2rem, 2vw, 3rem) + 4rem) !important;
         padding: 0 1rem;

         .btn-primary {
             font-size: 11px;
             padding: 7px 15px !important;
         }
     }
 }

 .sec__product-banner {
     .sec__content-heading {
         font-family: 'Oswald-Bold' !important;
         letter-spacing: 0.2px !important;
         max-width: 435px;
         margin: auto;
         margin-bottom: 30px !important;
     }

     .sec__content-des {
         line-height: 19px;
         max-width: 460px;
         margin: auto;
         margin-bottom: 30px !important;
     }

     .swiper-pagination {}
 }

 .btn-primary {
     border-radius: 4px;
     font-family: Oswald-Bold !important;
     letter-spacing: .21px;
     padding: 9px 20px !important;
     font-size: 12px;
 }

 .product-item__name {
     font-family: 'Oswald-SemiBold';
 }

 .price-regular {

     .price-item,
     .price {
         color: #002E5E !important;
     }
 }

 .product__badges {
     margin-inline-start: 4px;
 }

 .product-item__information {
     .product-item__name {
         margin-bottom: 12px;
     }

     .product-item__price {
         margin-top: 0 !important;
     }
 }

 .product-item__button-submit,
 .product-item__select-options {
     transform: unset !important;
     background-color: #BDD4E5 !important;
     border-radius: 4px !important;
     padding: 10px !important;
 }

 .product-item__wrapper {
     .items-center {
         align-items: center;
     }
 }

 .product-item__button {
     background-color: transparent !important;
     box-shadow: unset !important;
 }

 .section__header-heading {
     font-family: 'Oswald-Medium';
     font-weight: 500 !important;
     letter-spacing: 0.2px !important;
 }

 .product-detail__information {
     .swatch-colors {
         padding-bottom: 30px;

         .swatch__title {
             font-size: 1.4rem !important;
             margin-bottom: 10px !important;
         }

         .d-flex {
             display: flex;

             a {
                 height: 80px;
                 width: 80px;
                 display: inline-block;
                 margin-right: 15px;

                 .swatch-thumbnail {
                     height: 80px;
                 }
             }
         }
     }
 }

 .product-colors-count {
     margin-top: 7px;
 }

 .custom-text-block {
     color: #A4A9AD;
     text-align: center;

     .first-title {
         font-size: 25px;
         font-weight: 500;
         text-transform: uppercase;
         line-height: 30px;
         padding-bottom: 7px;
     }

     .first-description,
     .second-description {
         font-size: 12px;
         line-height: 1.3;
     }

     .second-title {
         font-size: 20px;
         font-weight: 500;
         text-transform: uppercase;
         padding-top: 20px;
         line-height: 24px;
         padding-bottom: 7px;
     }
 }

 .section__header-heading {
     text-transform: uppercase !important;
     font-family: 'Oswald-Bold';
     font-weight: 500 !important;
     letter-spacing: 0.2px !important;
 }

 .sec__newsletter {
     border-top: 1.05px solid #979797;
     border-bottom: 1.05px solid #979797;
     margin-bottom: 40px !important;

     .subcribe-button {
         letter-spacing: 0.2px;
         font-size: 17px;
     }

     .subcribe-submit {
         margin-top: 25px !important;
     }

     .newsletter-inner {
         margin-bottom: 20px !important;
     }

     .subcribe-input {
         background-color: #fff;
         border-color: #d8d8d8;
     }

     .newsletter-bottom-info>div {
         margin-top: 10px;
     }
 }

 .footer__block-heading,
 .footer-menu-title {
     font-family: 'Oswald-Bold';
     letter-spacing: 0.2px;
     padding-bottom: 10px !important;
     text-transform: uppercase;
 }

 .footer-menu-title {
     padding-top: 10px;
 }

 .footer__store-info {
     position: relative;
     padding-inline-start: 24px;

     &.phone {
         font-weight: 600;

         a {
             &:before {
                 content: "";
                 background-image: url("./phone-icon.svg");
                 background-size: 16px 16px;
                 width: 16px;
                 height: 16px;
                 position: absolute;
                 top: 4px;
                 inset-inline-start: 0;
             }
         }
     }

     &.mail {
         a {
             &:before {
                 content: "";
                 background-image: url("./mail-icon.svg");
                 background-size: 16px 12px;
                 width: 16px;
                 height: 12px;
                 position: absolute;
                 top: 7px;
                 inset-inline-start: 0;
             }
         }
     }
 }

 .footer-block {
     .footer__block-info {
         p {
             font-size: 12px;
         }
     }

     ul {
         li {
             padding-bottom: 0 !important;

             a {
                 font-size: 12px;
             }
         }
     }
 }

 .footer_bottom-inner {
     padding-top: 10px !important;
     padding-bottom: 10px !important;

     .footer__copyright {
         a {
             font-size: 13px;
             margin-right: 5px;
             text-decoration: none;
         }
     }
 }

 .banner__media.collection-media.p-0.hover-effect.block.rounded {
     height: 230px;
 }


 .menu-collection {
     .collection-info {
         left: 20px;
         display: flex;

         span {
             background-color: unset;
             width: auto !important;
             padding: 0 !important;
             max-width: unset !important
         }
     }
 }

 .bls-login-popup {
     p {
         line-height: 1.2;
     }
 }

 .product-detail__buy-buttons {
     .product-item__button {

         &.active,
         &:hover {
             background-color: #002E5E !important;
             color: #FFF !important;
             border-color: #002E5E !important;
         }
     }
 }

 #product-form-product-quickview,
 .cart-footer,
 .auth-actions,
 #create_customer {
     .btn-primary {
         padding: 1.5rem 2.5rem !important;
     }
 }

 .white-wishlist {
     path {
         fill: #fff;
     }
 }

 @media (min-width: 1024px) {
     #topbar {
         .text-slide {
             width: auto !important;
             max-width: 100% !important;
             text-align: center;
             margin: auto !important;
         }
     }
 }

 @media (max-width: 1024px) {
     .submenu-horizontal {
         .grid-cols {
             display: block !important;

             .collection-items {
                 margin-bottom: 20px !important;
             }
         }
     }
 }

 /* Mobile Slideshow Layout - Under 992px */
 @media (max-width: 991px) {
     .slideshow.swiper {
         background: #CADDEA !important;
         padding-bottom: 40px !important;

         .swiper-slide {
             .sec__inner {
                 display: flex !important;
                 flex-direction: column !important;

                 .banner__media {
                     position: relative !important;
                     margin-bottom: 0 !important;
                     height: auto !important;
                     aspect-ratio: 4/3;
                     /* Default for tablets */

                     /* Ensure mobile images display properly */
                     img {
                         width: 100% !important;
                         height: 100% !important;
                         object-fit: cover !important;
                     }

                     /* Taller images for smaller mobile screens */
                     @media (max-width: 600px) {
                         aspect-ratio: 3/4;
                     }
                 }

                 .sec__content {
                     position: relative !important;
                     padding: 0 1.5rem !important;
                     width: 100% !important;
                     max-width: 100% !important;
                     margin: 0 !important;
                     border-radius: 0 0 1rem 1rem;

                     .sec__content-inner {
                         .sec__content-subheading {
                             font-size: 50px;
                         }

                         .sec__content-heading {
                             font-size: 40px;
                         }
                     }
                 }
             }
         }

         /* Adjust global buttons for mobile layout */
         .slideshow-global-buttons-fixed {
             position: relative !important;
             width: 100%;
         }
     }
 }

 .header-mega-store logo-position{
    padding-bottom: 0;
 }